<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="content">
        <section class="top">
            <div>
                <img src="./assets/pandit.jpg" alt="notfound">
            </div>
            <div class="headn">
<h2>Pandit Jawaharlal Naeharu</h2>
<h4>14 November 1889 – 27 May 1964</h4>
            </div>
        </section>
        <section class="middl">
            <div>
                <h2>
                The Great Social Worker
                </h2>
                <p>
                    Under Nehru's leadership, the Congress emerged as a catch-all party, dominating national and state-level politics and winning elections in 1951, 1957 and 1962. Nehru remained popular with the Indian people and his premiership spanning 16 years, 286 days—which is, to date, longest in India—ended with his death on 27 May 1964 due to a heart attack.
                </p>
            </div>
        </section>
        <section class="bio">
<h1>Biography</h1>
<ul>
    <li>Britain and return to India: 1912–1913</li>
    <li>World War I: 1914–1915</li>
    <li>Home rule movement: 1916–1917</li>
    <li>Non-co-operation: 1920–1927</li>
    <li>Internationalising the struggle for Indian independence: 1927</li>
</ul>
        </section>
    </div>
    </div>
</body>
</html>