<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tribute website A. P. J. Abdul Kalam</title>
  </head>
  <body>
    <div class="container">
      <div class="contect">
        <section class="top">
          <div class="imgcont">
            <img src="./assets/apj.jpg" alt="dh" />
          </div>
          <div>
            <h2>A. P. J Abdual Kalam</h2>
            <h4>1931 - 2015</h4>
          </div>
        </section>
        <section class="about">
          <h2>Missial Man of India</h2>
          <p>
            <b>Avul Pakir Jainulabdeen Abdul Kalam</b> was born on 15 October
            1931, to a Tamil Muslim family in the pilgrimage centre of
            Rameswaram on Pamban Island, then in the Madras Presidency and now
            in the State of Tamil Nadu. His father Jainulabdeen Marakayar was a
            boat owner and imam of a local mosque;[9] his mother Ashiamma was a
            housewife.[10][11][12][13] His father owned a ferry that took Hindu
            pilgrims back and forth between Rameswaram and the now uninhabited
            Dhanushkodi.[14][15] Kalam was the youngest of four brothers and one
            sister in his family.[16][17][18] His ancestors had been wealthy
            Marakayar traders and landowners, with numerous properties and large
            tracts of land. Marakayar are a Muslim ethnic group found in coastal
            Tamil Nadu and Sri Lanka who claim descent from Arab traders and
            local women.
          </p>
        </section>
        <section class="biosec">
          <h2>Biography</h2>
          <ul>
            <li>
              A Vision for the New Millennium by A P J Abdul Kalam, Y. S. Rajan;
              New York, 1998
            </li>
            <li>
              An Autobiography by A P J Abdul Kalam, Arun Tiwari; Universities
              Press, 1999
            </li>
            <li>
              Unleashing the Power Within India by A P J Abdul Kalam; Viking,
              2002
            </li>
            <li>
              The Luminous Sparks by A P J Abdul Kalam, by; Punya Publishing Pvt
              Ltd., 2004
            </li>
            <li>
              You Are Born To Blossom: Take My Journey Beyond by A P J Abdul
              Kalam and Arun Tiwari; Ocean Books, 2011
            </li>
          </ul>
        </section>
        <footer>
          <p>Click to pandit javaharlal wikipidia</p>
          <a href="https://en.wikipedia.org/wiki/Jawaharlal_Nehru">click</a>
        </footer>
        <button (click)="show(1)">Neharu</button>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
